* {
    font-family: arial, helvetica, sans-serif;
    font-size: 16px;

}
body {
    background-color: rgb(190, 160, 218);
}

main {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgb(23, 4, 44);
}

h1 {
font-size: 2em;

color: rgb(54, 14, 97);

}

h2 {
font-size: 1.5em;
color: rgb(54, 14, 97);
}
img.lado{
    
    float: right;

}
a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(54, 14, 97);
}

a:hover {
    text-decoration: underline;
    color: rgb(114, 100, 196);
}